@import "tailwindcss";

body {
	font-family: var(--font-gloock), Arial, serif, sans-serif;
	font-style: normal;
}

p,h1,span,
button,li {
	font-family: var(--font-be-vietnam-pro), Arial, serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.flex-center {
	@apply flex justify-center items-center;
}
.clipPathParallelogram {
	clip-path: polygon(54% 0, 100% 0%, 46% 100%, 0% 100%);
}
.clipPath {
	clip-path: polygon(0 0, 100% 0, 46.5% 100%, 0 100%);
}

.clipPathCard3D {
	clip-path: polygon(20% 0, 100% 0, 100% 90%, 86% 100%, 10% 100%, 10% 8%);
}

.wordSpacing{
	word-spacing: 5px !important;
}
