@import "tailwindcss";

body {
	/* font-family: "Tahoma", Arial, sans-serif ;	 */
	font-weight: normal;
	font-style: normal;
}

@layer base{
	@font-face {
		font-family: "HYWenHei";
		src: url("/fonts/HYWenHei.ttf") format("truetype");
	}

	@font-face {
		font-family: "Tahoma";
		src: url("/fonts/tahoma.ttf") format("truetype");
	}

	@font-face {
		font-family: "zh-cn";
		src: url("/fonts/zh-cn-webfont.woff2") format("woff2");
	}
}

.font-HYWenHei{
	font-family: "HYWenHei", Arial, sans-serif;
}
.font-Tahoma{
	font-family: "Tahoma", Arial, sans-serif;
}

.flex-center {
	@apply flex justify-center items-center;
}

.wordSpacing{
	word-spacing: 5px !important;
}
